* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222;
  background-color: #B86A68;
}

.main-image {
  width: 200px;
  height: 200px;
  border: solid 4px black;
  border-radius: 50%;
}

h1 {
  background-color: #e2e2e2;
  padding: 10px;
  transition: all 4s;
}

.section-title {
  text-transform: uppercase;
}
.main-container {
  display: inline-block;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;


}
.homelink {
  display:block;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 90px;
}
ul
{
    list-style-type: none;
    text-align: center;
    margin-left: -30px;
}
li::before {
  content: "\2022 "; }
