* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222;
  background-color: #314a72;

}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #314A72;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('images/swirlyorangesunset.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #B86A68;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.5) rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #314a72;
  color: #fff;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #B86A68;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #B86A68;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #314a72;
}

.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height:auto;
}
.pics {
  width: 100vw;
  display:block;
  max-width: 50%;
  max-height: 50%;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: #fff;

}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
  flex-wrap: wrap;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
/* Styles resources page */
.resources {
  padding: 3em;
  font-family: 'Raleway', sans-serif;
  background-color: #B86A68;
}
.resources h1 {
  color:#000;
  background-color: #e2e2e2;
  padding: 10px;
  transition: all 4s;
}
.resources h2,
.resources h3,
.resources h4 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.resourceList, .resumeList {
  list-style-type: none;
  margin-left: -30px;
}
.resourceList a {
  color: #fff;
}
.resourceList li:hover {
  transform: scale(1.5);
}
.resourceList li::before,
.resumeList li::before  {
  content: "\2022 ";
  color: #fff;
}


.resumelink,
.resourceslink {
  display:block;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 90px;
}
.homelink {
  display:block;
  justify-content: center;
  padding-top: 50px;
}
.resumelink a,
.homelink a,
.resourceslink a {
  color: #fff;
}
.resumelink a:hover,
.homelink a:hover,
.resourceslink a:hover {
  color: #314a72;
}
/* Styles for resume page */
.main-image {
  width: 200px;
  height: 200px;
  border: double 8px black;
  border-radius: 50%;
}
.section-title {
  text-transform: uppercase;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 100vw;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
      flex-wrap: wrap;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
    flex-wrap: wrap;
  }
